<% layout('layout/afterlogin') -%>
<style>
  #restaurantList span {
    display: none;
  }

  #restaurantList_filter {
    display: none;
  }
</style>

<body class="hold-transition sidebar-mini ">
  <div class="wrapper">

    <!-- Navbar -->
    <% include ../layout/navbar %>

    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <% include ../layout/sidebar %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Order List</h1>
            </div>
            <% if(customerId != '') {%>
            <div class="col-sm-2">
              <a href="/customer/customerList?id=<%= customerId %>" class="btn btn-block btn-danger">Back to Customer
                List</a>
            </div>
            <% } %>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->

            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>Order Status</label>
                      <select class="form-control select2" id="changeOrder">
                        <%
                      var allSel = '';
                      var newSel = '';
                      var accSel = '';
                      var readySel = '';
                      var delaySel = '';
                      var colSel = '';
                      var comSel = '';
                      var canSel = '';

                      if(status == 'ALL') {
                        allSel = 'selected'
                      } 
                      if(status == 'NEW') {
                        newSel = 'selected'
                      }
                      if(status == 'ACCEPTED') {
                        accSel = 'selected'
                      }
                      if(status == 'READY') {
                        readySel = 'selected'
                      } 
                      if(status == 'DELAYED') {
                        delaySel = 'selected'
                      }
                      if(status == 'COLLECTED') {
                        colSel = 'selected'
                      }
                      if(status == 'COMPLETED') {
                        comSel = 'selected'
                      }
                      if(status == 'CANCELLED') {
                        canSel = 'selected'
                      } %>

                        <option value="all" <%= allSel%>>All</option>
                        <option value="NEW" <%= newSel%>>New</option>
                        <option value="ACCEPTED" <%= accSel%>>Accepted</option>
                        <option value="READY" <%= readySel%>>Ready</option>
                        <option value="DELAYED" <%= delaySel%>>Delayed</option>
                        <option value="COLLECTED" <%= colSel%>>Collected</option>
                        <option value="COMPLETED" <%= comSel%>>Completed</option>
                        <option value="CANCELLED" <%= canSel%>>Cancelled</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Select Restaurant</label>
                      <select multiple class="form-control" id="chngRes" data-placeholder="Select Restaurant"
                        style="width: 100%;" name="restaurant">
                        <% if (vendors.length > 0){%>
                        <%  for (let vendor of vendors){ 
                            var vendrIdArr = vendorId;
                            if (Array.isArray(vendrIdArr)) { 
                             
                              var vendrId = (vendor._id).toString();
                               if(vendrIdArr.includes(vendrId)) {
                                var selectedOption = 'selected';
                              } else {
                                var selectedOption = '';
                              }
                               } else if(vendrIdArr == '') {
                                var selectedOption = '';
                               } else {
                               if(vendrIdArr == vendor._id) {
                                var selectedOption = 'selected';
                               } else {
                                var selectedOption = '';
                               }
                               } %>

                        <option value="<%= vendor._id %>" <%= selectedOption %>><%= vendor.restaurantName %></option>
                        <% } } %>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>From</label>
                      <div class="input-group date validityFrom" data-provide="datepicker">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control validityFromS" name="validityFrom"
                          placeholder="Enter from date" value="<%= fromDate %>">
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th">

                          </span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>To</label>
                      <div class="input-group date validityTo" data-provide="datepicker">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control validityToS" name="validityTo"
                          placeholder="Enter to date" value="<%= toDate %>">
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th">

                          </span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-.5">
                    <button type="button" class="btn btn-block btn-info" style="margin-top: 33px;"
                      onclick="javascript:filterValidity();"><i class="fa fa-filter" aria-hidden="true"></i></button>
                  </div>


                  <div class="col-md-2 db-search">
                    <div class="form-group">
                      <label>Search</label>
                      <input type="text" name="search" class="form-control myInputTextField" placeholder="Search" value="<%= dataTxt%>">
                    </div>

                  </div>
                  <div class="col-md-.5">
                    <button type="button" class="btn btn-block btn-info" style="margin-top: 33px;"
                      onclick="javascript:searchData();"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>

                </div>
                <table id="restaurantList" class="table table-bordered table-striped" style="width:100%">
                  <thead>
                    <tr>
                      <th>Order No </th>
                      <th>Order Time</th>
                      <th>Restaurant</th>
                      <th>Amount</th>
                      <th>Item Name</th>
                      <th>Customer</th>
                      <th>Payment Type</th>
                      <th>Order Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (orderArr.length > 0){%>
                    <%  for (let order of orderArr){ %>
                    <tr>
                      <td><%= order.orderNo %></td>
                      <td><%= order.orderTime %></td>
                      <td><%= order.restaurant.restaurantName %></td>
                      <td>NGN <%= order.finalPrice %></td>
                      <td>
                        <% var orderDetails = order.orderDetails;
                         if (orderDetails.length > 0){
                           var i = 1;
                          for (let orderDetail of orderDetails){ %>
                        <ol>
                          <li><%= i%>) <%=  orderDetail.item %></li>
                        </ol>
                        <% i++; } } %>
                      </td>
                      <td><%= order.name %></td>
                      <td><%= order.paymentType %> </td>
                      <td><%= order.orderStatus %> </td>
                      <td>
                        <a href="/order/orderDetails?orderId=<%= order._id %>"><i style="color: green;cursor: pointer;"
                            class="fa fa-info-circle" title="Order Details" aria-hidden="true"></i></a>
                        <% if((order.orderStatus == 'DELAYED') || (order.orderStatus == 'NEW')) { %>
                        <i style="color: red;cursor: pointer;" class="fas fa-ban" title="Cancel Order"
                          aria-hidden="true" onClick="javascript:cancelOrder('<%= order._id %>');"></i>
                        <%} %>
                      </td>
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <input type="hidden" id="customerId" name="customerId" value="<%= customerId%>">
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <% include ../layout/footer %>

  </div>
  <!-- ./wrapper -->


  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../js/bootstrap-notify.min.js"></script>
  <!-- Select2 -->
  <script src="../../plugins/select2/js/select2.full.min.js"></script>

  <script src="../../js/jquery.multiselect.js"></script>
  <!-- DataTables -->
  <script src="../../plugins/datatables/jquery.dataTables.js"></script>
  <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
  <!-- jquery-validation -->
  <script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="../../plugins/jquery-validation/additional-methods.min.js"></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../js/adminlte.min.js"></script>
  <!-- Toastr -->
  <script src="../../plugins/toastr/toastr.min.js"></script>

  <script type="text/javascript">

    $(function () {

      $('.myInputTextField').keyup(function () {
        table.search($(this).val()).draw();
      })

      $(".validityFrom").datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        orientation: "bottom left"
      }).on('changeDate', function (selected) {
        var startDate = new Date(selected.date.valueOf());
        $('.validityTo').datepicker('setStartDate', startDate);
      }).on('clearDate', function (selected) {
        $('.validityTo').datepicker('setStartDate', null);
      });

      $(".validityTo").datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        orientation: "bottom left"
      }).on('changeDate', function (selected) {
        var endDate = new Date(selected.date.valueOf());
        $('.validityFrom').datepicker('setEndDate', endDate);
      }).on('clearDate', function (selected) {
        $('.validityFrom').datepicker('setEndDate', null);
      });

      $('.select2').select2()



      var table = $('#restaurantList').removeAttr('width').DataTable({
        fixedHeader: true,
        scrollY: "400px",
        scrollX: true,
        scrollCollapse: false,
        paging: false,
        searching: true,
        ordering: false,

        // columnDefs: [
        //     { width: 200, targets: 0 }
        // ],
        fixedColumns: true
      });



    });

    function changeOrderStatus() {
      var changeOrder = $('#changeOrder').val();
      var chngRes = $('#chngRes').val();

      window.location.replace(`/order/orderList?status=${changeOrder}&restaurant=${chngRes}`);



      //alert(chngRes);
    }

    function changeRestaurant() {
      var chngRes = $('#chngRes').val();
      var changeOrder = $('#changeOrder').val();
      var customerId = $('#customerId').val();


      window.location.replace(`/order/orderList?status=${changeOrder}&restaurant=${chngRes}&customer=${customerId}`);
      //alert(chngRes);
    }

    function filterValidity() {
      var customerId = '<%= customerId %>';
      var restaurant = $("#chngRes").val();
      var chngRes = restaurant.toString();

      var changeOrder = $('#changeOrder').val();

      var fromDate = $(".validityFromS").val();
      var toDate = $(".validityToS").val();

      window.location.replace(`/order/orderList?status=${changeOrder}&restaurant=${chngRes}&from=${fromDate}&to=${toDate}&customer=${customerId}`);
    }

    function searchData() {

      var searchData = $(".myInputTextField").val();

      window.location.replace(`/order/orderList?search=${searchData}`);

    }

    function cancelOrder(orderId) {
      if (confirm("Do you want to cancel this order?")) {

        $.ajax({
          url: "/order/cancelOrder",
          type: "POST",
          data: { orderId: orderId },
          success: function (data, textStatus, jqXHR) {
            //data - response from server
            var reqBody = data;

            if(reqBody.statusCode == 200) {
              toastr.success(reqBody.msg)
            } else {
              toastr.error(reqBody.msg)
            }
            
           location.reload()
          },
          error: function (jqXHR, textStatus, errorThrown) {
            toastr.error(data.msg)
          }
        });
      }
      return false;
    }


    $('select[multiple]').multiselect({
      columns: 2,
      search: true,
      selectAll: true,
      texts: {
        placeholder: 'Select Restaurant',
        search: 'Search Restaurant'
      }
    });


  </script>
  <% if(messages.msgLog){ %>
  <script>
    $(function () {
      $.notify({
        // options
        message: '<%= messages.msgLog %>'
      }, {
        // settings
        type: '<%= messages.msgType %>',
        spacing: 10,
        z_index: 1035,
        animate: {
          enter: 'animated fadeInDown',
          exit: 'animated fadeOutUp'
        }
      });
    });
  </script>
  <% } %>

</body>